<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8"/>
    <title>UserStore:Edit User</title>
    <style>
        th {align:left}
    </style>
</head>
<body>
<p align="center"> Edit user information</p>

<form action="/user/edit" method="POST">
    <table align="center" border=0>
        <tr>
            <th>Id</th>
            <td><input type="text" name="id" value="${user.id}" readonly/></td>
        </tr>
        <tr>
            <th>First Name</th>
            <td><input type="text" name="first_name" value="${user.firstName}" required/></td>
        </tr>
        <tr>
            <th>Last Name</th>
            <td><input type="text" name="last_name" value="${user.lastName}" required/></td>
        </tr>
        <tr>
            <th>Salary</th>
            <td><input type="text" name="salary" value="${user.salary}" required/></td>
        </tr>
        <tr>
            <th></th>
            <td><input type="submit" value="Ok"></td>
        </tr>
    </table>

</form>
</body>
</html>